html {
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    color: rgb(17, 17, 17);
}

.wrapper {
    padding: 2em;
    background: url(images/bg_comp.jpg) no-repeat center;
    background-size: cover;
}

/* Local time and country container */

.short-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}

.location-info-container {
    text-align: right;
}

#local-time,
#city-name {
    font-size: 3rem;
    font-weight: 900;
}

#local-date,
#country-name {
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }

    .short-info {
        flex-direction: column;
        align-items: center;
    }

    .location-info-container,
    .local-time-container {
        text-align: center;
    }
}

/* Search bar */

.search-bar {
    display: flex;
    align-items: center;
    margin: 2em auto;
    width: 100%;
    max-width: 40rem;
    border-radius: 20px 3px;
}

.search-bar:hover,
.search-bar:focus-within {
    outline: 1px solid rgba(255, 255, 255, 0.7);
}

#city-input {
    all: unset;
    height: 2em;
    width: 100%;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(17, 17, 17);
    font-weight: 800;
    border-radius: 20px 0 0 3px;
}

#city-input::placeholder {
    color: rgb(31, 31, 31);
}

#search-button {
    all: unset;
    height: 2em;
    width: 2em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 3px 20px 0;
    cursor: pointer;
}

#search-button img {
    vertical-align: middle;
    height: 100%;
}

/* SVG divider */

.curves {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
}

.curves .shape-fill {
    fill: rgb(248, 248, 248);
}

/* Detailed info */

.detailed-info {
    position: relative;
    flex-grow: 1;
    padding: 1em 2em;
    background-color: rgb(250, 250, 250);
}

.filters {
    margin-bottom: 1em;
}

.filters ul {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    list-style: none;
}

li a {
    position: relative;
    display: inline-block;
    padding: 0.2em 0.5em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 900;
}

li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    transition: 0.25s;
}

li a:hover::after {
    width: 100%;
}

.selected {
    position: relative;
    color: black;
}

.selected::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
}

/* Cuurent weather */

.weather-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}

.weather div span:first-child {
    font-weight: 900;
}

.weather > div > span {
    display: block;
}

.weather {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5em;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 4px 3px 10px 0 rgba(17, 17, 17, 0.3);
}

.weather-icon {
    width: 3rem;
    height: 3rem;
}

@media screen and (min-width: 900px) {
    .weather-icon {
        justify-self: center;
    }
}

@media screen and (max-width: 900px) {
    .weather {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .weather {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 370px) {
    .weather {
        grid-template-columns: repeat(2, 1fr);
    }
}