*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

main {
    width: 100%;
    height: 100vh;
    background: no-repeat center;
    background-size: cover;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.short-info,
.detailed-info {
    background-color: blue;
    height: 100px;
}