html {
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: rgb(17, 17, 17);
    overflow: hidden;
}

.wrapper {
    padding: 2em;
    background: url(images/bg.jpg) no-repeat center;
    background-size: cover;
}

/* Local time and country container */

.short-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}

.location-info-container {
    text-align: right;
}

#local-time,
#city-name {
    font-size: 3rem;
    font-weight: 900;
}

#local-date,
#country-name {
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }

    .short-info {
        flex-direction: column;
        align-items: center;
    }

    .location-info-container,
    .local-time-container {
        text-align: center;
    }
}

/* Search bar */

.search-bar {
    display: flex;
    align-items: center;
    margin: 1.5em auto;
    width: 100%;
    max-width: 40rem;
    border-radius: 20px 3px 20px 3px;
}

.search-bar:hover {
    outline: 1px solid rgba(255, 255, 255, 0.7);
}

#city-input {
    all: unset;
    height: 2em;
    width: 100%;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(17, 17, 17);
    font-weight: 800;
    border-radius: 20px 0 0 3px;
}

#city-input::placeholder {
    color: rgb(31, 31, 31);
}

#search-button {
    all: unset;
    height: 2em;
    width: 2em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 3px 20px 0;
    cursor: pointer;
}

#search-button img {
    vertical-align: middle;
    height: 100%;
}

/* SVG divider */

.curves {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
}

.curves .shape-fill {
    fill: #FFFFFF;
}

/* Detailed info */

.detailed-info {
    position: relative;
    height: 100%;
}